.hlr1,
.hlg1,
.hln1,
.hly1,
.hlb1,
.hlo1,
.hlp1 {
    padding-bottom: 0;
    display: inline;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

.hlr1 {
    border-bottom-color: #ff0000 !important;
}

.hlg1 {
    border-bottom-color: #008000 !important;
}

.hln1 {
    border-bottom-color: #000080;
}

.hly1 {
    border-bottom-color: #f2b24c;
}

.hlb1 {
    border-bottom-color: #008080;
}

.hlo1 {
    border-bottom-color: #e8520b;
}

.hlp1 {
    border-bottom-color: #800080;
}

.hlr1:hover {
    background-color: rgba(255, 0, 0, 0.1) !important;
    cursor: help;
}

.hlg1:hover {
    background-color: rgba(0, 128, 0, 0.1);
    cursor: help;
}

.hln1:hover {
    background-color: rgba(0, 0, 128, 0.1);
    cursor: help;
}

.hly1:hover {
    background-color: rgba(242, 178, 76, 0.1);
    cursor: help;
}

.hlb1:hover {
    background-color: rgba(0, 128, 128, 0.1);
    cursor: help;
}

.hlo1:hover {
    background-color: rgba(232, 82, 11, 0.1);
    cursor: help;
}

.hlp1:hover {
    background-color: rgba(128, 0, 128, 0.1);
    cursor: help;
}

.dialog-highlight {
    background-color: #ffff00;
}